/* Button Styles */

a.button {
  font-size: 17px;
  padding: 0.3em 1.5em 0.4em 1.5em;
  border: none;
  background: none;
  color: $yellow !important;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 30px;
  border: 2px solid $yellow;
  text-decoration: none;
  transition: 0.3s;
   &:hover{
    background: $yellow;
    color: $white !important;
   }
}

a.button:focus {
  outline: none;
}
a.button > span {
  vertical-align: middle;
}

.content a.button.share-twitter{
  margin-top: 30px;
  width: 200px;
  &:hover{
    background: $white;
  }
}

