<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
   <div id="transcroller-body" class="aos-all">
    <div id="page-post" class="article">
      <header class="navigation article__cover" style="background-image:url({{ page.big-cover-photo }});">
        <div class="overlay"></div>
        <div class="container">
            {% include header.html %}
            <article class="intro--post">
              <h1 class="aos-item" data-aos="fade-up" data-aos-once="true">{{ page.title }}</h1>
              <p class="paragraph--intro aos-item" data-aos="fade-up" data-aos-delay="200">{{ page.intro }}</p>
              <p class="date aos-item" data-aos="fade-up" data-aos-delay="200">Posted on {{ page.date | date: "%b %-d, %Y" }}</p>
            </article>
          </div>
        </header>
        <div class="container">
          <article class="article__content">
            {{ content }}
          </article>
          <div class="article__notes">
              {% if page.footnotes %}
                <p class="article__footnotes"><span>Footnotes: </span>{{ page.footnotes }}</p>
              {% endif %}
              {% if page.location %}
                <p class="article__location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ page.location }}</p>
              {% endif %}
          </div>
          <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
          {% include comments.html %}
        </div>
        <div class="article__more-posts">
          <section class="container clearfix blog-posts">
            <h2 class="center">Read more Posts</h2>
            {% if page.next %}
                {% assign next = page.next %}
              {% else %}
                {% assign last lastPostIndex = site.posts | size | minus: 1 %}
                {% assign next = site.posts[lastPostIndex] %}
              {% endif %}
              <li class="blog-post">
                <a href="{{site.baseurl}}{{next.url}}">
                <img src="{{ next.cover-photo }}" alt="{{ next.cover-photo }}" />
                <p class="date">{{ next.date | date: "%d %B %Y" }}</p>
                <h3>{{next.title}}</h3>
                </a>
              </li>
              {% if page.previous %}
                {% assign previous = page.previous %}
              {% else %}
                  {% assign previous = site.posts[0] %}
              {% endif %}
              <li class="blog-post">
                <a href="{{site.baseurl}}{{previous.url}}">
                <img src="{{ previous.cover-photo }}" alt="{{ previous.cover-photo }}" />
                <p class="date">{{ previous.date | date: "%d %B %Y" }}</p>
                <h3>{{previous.title}}</h3>
                </a>
              </li>
          </section>
        </div>

    </div>
  </div>
    {% include footer.html %}
  </body>
</html>

